
<br>
<div class="row">
    <div class="col-sm-2">
        <button class="btn" (click)="addNewProduct()">+ Add Product</button>
    </div>
    <div class="col-sm-4">
        <!--
        <form [formGroup]="searchForm" (ngSubmit)="submitSearchForm()">
            <input id="searchTerm" 
                   type="text" 
                   class="form-control" 
                   formControlName="searchTerm"
                   placeholder="Search" />
        </form>
        -->
    </div>


    <div class="col-sm-3 text-right" >
            Filter by
    </div>

    <div class="col-sm-3">
        <select (change)="onCategoryChange($event)" class="form-control">
            <option [attr.selected] = "true"  [attr.value]="0">-- All categories --</option>
            <option *ngFor="let c of categories" [attr.value]="c.id">
                {{c.name}}
            </option>    
        </select>
    </div>

</div>
<br> 
<br>


<div *ngIf="products.length == 0">
    <div class="jumbotron">
        <p>No Records Found</p>
    </div>
</div>


<!--
<div *ngIf="products.length == 0">
    <div class="jumbotron" *ngIf="!searchMode">
        <p>Use Add Product button to add products</p>
    </div>

    <div class="jumbotron" *ngIf="searchMode">
        <p>No Records Found</p>
    </div>
</div>
-->

<table class="table" *ngIf="products.length > 0">
    <thead>
        <tr>
            <th></th>
            <th>Image</th>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody *ngFor="let p of products">
        <tr>
            <td>{{p.id}}</td>
            <td><img width="84px" height="60px" [src]="p.image"></td>
            <td>{{p.name}}</td>
            <td>{{p.category.name}}</td>
            <td>{{p.price}}</td>
            <td>{{(p.active == true)? 'Active': 'Inactive'}}</td>
            <td>
                <span (click)="editProduct(p.id)">
                    <i class="fa fa-edit fa-2x col-sm-5"></i>
                </span>

                <span (click)="deleteProduct(p.id)">
                    <i class="fa fa-trash fa-2x col-sm-3" aria-hidden="true"></i>
                </span>
            </td>
        </tr>
    </tbody>
</table>

<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-7" *ngIf="products.length > 0">
        <nav aria-label="Page navigation example">
            <ul class="pagination" style="cursor: pointer">

                <li class="page-item" *ngIf="pageNumber > 1">
                    <a class="page-link" (click)="onPageChange(-1)">Previous</a>
                </li>

                <li class="page-item">
                    <a class="page-link">{{pageNumber}}</a>
                </li>

                <li class="page-item" *ngIf="pageNumber < totalPages">
                    <a class="page-link" (click)="onPageChange(1)">Next</a>
                </li>

            </ul>
        </nav>
    </div> 
</div>

<br>