<br>
<form *ngIf="categoryForm" [formGroup]="categoryForm" (ngSubmit)="submitCategoryForm()">

    <div class="form-group" [ngClass]="{'has-error': categoryForm.get('categoryName').invalid 
                                       && categoryForm.get('categoryName').touched}">
        <div class="row">
            <div class="col-sm-3">
                <label for="categoryName">Category title</label>
            </div>
            <div class="col-sm-9">
                <input id="categoryName" 
                       type="text" 
                       class="form-control"  
                       formControlName="categoryName">

                <span *ngIf="categoryForm.get('categoryName').invalid &&  
                             categoryForm.get('categoryName').touched && 
                             categoryForm.get('categoryName').errors['required']"
                      class="help-block"> Please fill out this field.</span>

                <span *ngIf="categoryForm.get('categoryName').invalid &&  
                             categoryForm.get('categoryName').touched && 
                             categoryForm.get('categoryName').errors['uniqueCategoryName']" 
                             class="help-block">Category title is already used.</span>
                
                       
                <span *ngIf="categoryForm.get('categoryName').invalid &&  
                             categoryForm.get('categoryName').touched &&
                             categoryForm.get('categoryName').errors['blank'] &&
                            !categoryForm.get('categoryName').errors['required']" class="help-block">Category title can't be blank.</span>


            </div>

        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-sm-3">
                <label for="categoryDescription">Description:</label>
            </div>
            <div class="col-sm-9">
                <textarea id="categoryDescription" 
                          type="text" 
                          class="form-control" 
                          formControlName="categoryDescription"
                          rows="6">
                </textarea>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-sm-3">
                <label for="categoryImageName">Image</label>
            </div>
            <div class="col-sm-9">
                <input id="categoryImageName" 
                       type="file" 
                       class="form-control"
                       formControlName="categoryImageName"
                       (change)="readUrl($event)" />

                <br> 
                <div *ngIf="editMode && imageName != 'no_image.png'">
                    <img src="{{imageBaseUrl}}/{{imageName}}" width="165px" height="84px" class="col-sm-4" style="padding-left: 0%;"> 
                    <span class="delete-icon" (click)="deleteCategoryImage()">
                        <i class="fa fa-window-close fa-2x"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>

    
    <div class="row">
        <div class="col-sm-8"></div>
        <div class="col-sm-2">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="categoryForm.invalid">Save</button>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-info btn-block btn-block" (click)="cancel()">Cancel</button>
        </div>
    </div>

</form>
<br>
