<br>

<div class="row">

    <div class="col-sm-3">
        <button class="btn" (click)="addNewCategory()">+ Add Category</button>
    </div>

    <div class="col-sm-4">
        <input id="searchField" 
               type="text" 
               placeholder="Search" 
               class="form-control"
               [(ngModel)] = "searchTerm"
               (keypress)="onSearchChange($event)"> 
    </div> 

</div>
<br>
<br>

<div *ngIf="categories.length == 0">
    <div class="jumbotron">
        <p>No Records Found</p>
    </div>
</div>

<table class="table" *ngIf="categories.length > 0">
    <thead>
        <tr>
            <th></th>
            <th>Category title</th>
            <th>Products</th>
            <th></th>
        </tr>
    </thead>
    <tbody *ngFor="let c of categories">
        <tr>

            <td>{{c.id}}</td>
            <td>{{c.name}}</td>
            <td>
                <a (click)="viewProductsByCategoryId(c.id)" class="cursor">{{c.productCount}}</a>
            </td>
            <td>
                <span (click)="editCategory(c.id)">
                    <i class="fa fa-edit fa-2x col-sm-3"></i>
                </span>
                
                <span (click)="deleteCategory(c.id)">
                    <i class="fa fa-trash fa-2x col-sm-3" aria-hidden="true"></i>
                </span>
            </td>
        </tr>
    </tbody>
</table>

<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-7" *ngIf="categories.length > 0">
        <nav aria-label="Page navigation example">
            <ul class="pagination" style="cursor: pointer">
                
                <li class="page-item" *ngIf="pageNumber > 1">
                    <a class="page-link" (click)="onPageChange(-1)">Previous</a>
                </li>

                <li class="page-item disabled-item" *ngIf="pageNumber <= 1">
                    <a class="page-link">Previous</a>
                </li>

                <li class="page-item">
                    <a class="page-link">{{pageNumber}}</a>
                </li>

                <li class="page-item" *ngIf="pageNumber < totalPages">
                    <a class="page-link" (click)="onPageChange(1)">Next</a>
                </li>

                <li class="page-item disabled-item" *ngIf="pageNumber >= totalPages">
                    <a class="page-link">Next</a>
                </li>
                
            </ul>
        </nav>
    </div> 
</div>
<br>