.admin-class{
    background-color: #6EB738;
    border-radius: 2px;
    padding: 2px;
    color: white;
}

.editor-class{
    background-color: #CC6633;
    border-radius: 2px;
    padding: 2px;
    color:white;
}

.status-btn {
    width: 30%;
    margin-right: 3px;
}