<br>
<div class="row">

    <div class="col-sm-2">
        <button class="btn" (click)="addNewUser()">+ Add User</button>
    </div>

</div>
<br> 
<br>

<table class="table" *ngIf="users.length > 0">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Email</th>
            <th>Registration date/time</th>
            <th>Role</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody *ngFor="let u of users">
        <tr>
            <td>{{u.id}}</td>
            <td>{{u.name}}</td>
            <td>{{u.email}}</td>
            <td>{{u.registerDate}}</td>
            <td >
                <span [ngClass]="{'admin-class': u.authority.name === 'admin',
                                  'editor-class': u.authority.name === 'editor'}">
                    {{u.authority.name}}
                </span>
            </td>
            <td>{{(u.active)? 'active': 'Inactive'}}</td>
            <td>
                <span (click)="editUser(u.id)">
                    <i class="fa fa-edit fa-2x col-sm-5"></i>
                </span>
                <!--
                <span (click)="deleteUser(u.id)">
                    <i class="fa fa-trash fa-2x col-sm-3" aria-hidden="true"></i>
                </span>
                -->
            </td>
        </tr>
    </tbody>
</table>

