

<div class="empty-cart" *ngIf="cartItemList.length == 0" >
    Your cart is still empty.
</div>
<br>
<div class='row' *ngIf="cartItemList.length > 0"> 
    
    <div class="col-sm-3">
        <strong>Product</strong>
    </div>
    
    <div class="col-sm-3 text-center">
        <strong>Size & Price</strong>
    </div>
    
    <div class="col-sm-2 text-center">
        <strong>Quantity</strong>
    </div>

    <div class="col-sm-3 text-center">
        <strong>Total price</strong>    
    </div>

    <div class="col-sm-1"></div>

</div>
<br>

<div class="row cart-item" *ngFor='let cartItem of cartItemList'>

    <div class="col-sm-3">
        {{cartItem.productName}}
    </div>

    <div class="col-sm-3 text-center">
        $ {{cartItem.productPrice}}
    </div>

    <div class="col-sm-2 text-center">
        <input type="number" 
               value="{{cartItem.productQuantity}}" 
               class="form-control qty-field" 
               onkeydown="return false"
               min="1"
               (change)="onQuantityChange($event, cartItem.productId)">
    </div>

    <div class="col-sm-3 text-center">
        $ {{cartItem.productPrice * cartItem.productQuantity | number : '1.2-2'}}
    </div>

    <div class="col-sm-1" >
        <i class="fa fa-times" (click)="deleteCartItem(cartItem.productId)"></i>
    </div>
</div>


<div class="row" *ngIf="cartItemList.length > 0">
    <div class="col-sm-3"></div>
    <div class="col-sm-3"></div>
    <div class="col-sm-2" style="text-align: right;">
        <strong>Sub total</strong><br><br>
        <strong>Tax (10.00%)</strong><br><br>
        <strong>Total</strong>
    </div>

    <div class="col-sm-3">
        <strong>$ {{cartSubtotal | number : '1.2-2'}}</strong><br><br>
        <strong>$ {{0.1 * cartSubtotal | number : '1.2-2'}}</strong><br><br>
        <strong>$ {{(cartSubtotal + 0.1 * cartSubtotal)| number : '1.2-2'}}</strong>
    </div>
</div>

<div *ngIf="cartItemList.length > 0">
    <h2>Your details</h2><br><br>
</div>


 
<form [formGroup]="orderForm" (ngSubmit)="submitOrderForm()" *ngIf="cartItemList.length > 0">
    <div class="row">

        <div class="col-sm-4" [ngClass] = "{'has-error': orderForm.get('orderDate').invalid 
                                                                 && orderForm.get('orderDate').touched}">

            <label for="orderDate">Delivery date & time</label>

            <input id="orderDate"
                    type="datetime-local" 
                    class="form-control" 
                    [attr.min]="minDate"                      
                    formControlName="orderDate"/> 
            
            <span *ngIf="orderForm.get('orderDate').invalid &&  
                         orderForm.get('orderDate').touched && 
                         orderForm.get('orderDate').errors['required']"
                         class="help-block">This field is required.</span>

            <span *ngIf="orderForm.get('orderDate').invalid &&  
                         orderForm.get('orderDate').touched && 
                         orderForm.get('orderDate').errors['inValidDate'] &&
                         !orderForm.get('orderDate').errors['required']"
                         class="help-block">The date and time should be greater than the current.</span>

        </div>
        
        
        <div class="col-sm-4"  [ngClass] = "{'has-error': orderForm.get('clientName').invalid 
                                                       && orderForm.get('clientName').touched}">
            <label for="clientName">Name</label>
            <input id="clientName" 
                   type="text" 
                   class="form-control"  
                   formControlName="clientName">
            
            <span *ngIf="orderForm.get('clientName').invalid &&  
                         orderForm.get('clientName').touched && 
                         orderForm.get('clientName').errors['blank']"
                         class="help-block">This field is required.</span>
        </div>

        <div class="col-sm-4" [ngClass] = "{'has-error': orderForm.get('clientEmail').invalid 
                                                      && orderForm.get('clientEmail').touched}">

            <label for="clientEmail">Email</label>

            <input id="clientEmail" 
                   type="text" 
                   class="form-control"  
                   formControlName="clientEmail">
            
            <span *ngIf="orderForm.get('clientEmail').invalid &&  
                         orderForm.get('clientEmail').touched && 
                         orderForm.get('clientEmail').errors['email']"
                         class="help-block">Please enter a valid email address.</span>
      
            <span *ngIf="orderForm.get('clientEmail').invalid &&  
                         orderForm.get('clientEmail').touched && 
                         orderForm.get('clientEmail').errors['required']"
                         class="help-block">This field is required.</span>
            
            
        </div>
    </div>
    
    <br>
    <div class="row">

        <div class="col-sm-4" [ngClass] = "{'has-error': orderForm.get('clientPhone').invalid 
                                                      && orderForm.get('clientPhone').touched}">
            <label for="clientPhone">Phone</label>
            
            <input id="clientPhone" 
                   type="text" 
                   class="form-control"  
                   formControlName="clientPhone"> 
            
            <span *ngIf="orderForm.get('clientPhone').invalid &&  
                         orderForm.get('clientPhone').touched && 
                         orderForm.get('clientPhone').errors['blank']"
                         class="help-block">This field is required.</span>
        </div>

        <div class="col-sm-4">
            <label for="clientCompany">Company</label>
            <input id="clientCompany" 
                    type="text" 
                    class="form-control"  
                    formControlName="clientCompany">
        </div>

        <div class="col-sm-4">
            <label for="clientAddress">Address</label>
            <input id="clientAddress" 
                   type="text" 
                   class="form-control"  
                   formControlName="clientAddress">
        </div>

       
    </div> 
    <br>
    <div class="row">

        <div class="col-sm-4">
            <label for="clientCity">City</label>
            <input id="clientCity" 
                   type="text" 
                   class="form-control"  
                   formControlName="clientCity">
        </div>


        <div class="col-sm-4">
            <label for="clientState">State</label>
            <input id="clientState" 
                   type="text" 
                   class="form-control"  
                   formControlName="clientState">
        </div>

        <div class="col-sm-4">
            <label for="clientZip">Zip</label>
            <input id="clientZip" 
                   type="text" 
                   class="form-control"  
                   formControlName="clientZip">
        </div>       
    </div>

    <br>
    <div class="row">
        <div class="col-sm-4">
            <label for="clientSpecialInstructions">Special instructions</label>    
            <textarea id="clientSpecialInstructions" 
                      type="text" 
                      class="form-control"  
                      formControlName="clientSpecialInstructions"
                      rows="6"> </textarea>
        </div>

        <div class="col-sm-4" [ngClass] = "{'has-error': orderForm.get('orderPaymentMethod').invalid 
                                                      && orderForm.get('orderPaymentMethod').touched}">
                                                      
            <label for="orderPaymentMethod">Payment method</label>
            <select id="orderPaymentMethod"
                    class="form-control"
                    formControlName="orderPaymentMethod">
            
                <option disabled [attr.selected] = "true">-- Choose --</option>
                <option *ngFor="let paymentMethod of paymentMethods" [attr.value]="paymentMethod">
                    {{paymentMethod}}
                </option>

            </select>
            
            <span *ngIf="orderForm.get('orderPaymentMethod').invalid &&  
                         orderForm.get('orderPaymentMethod').touched && 
                         orderForm.get('orderPaymentMethod').errors['required']"
                   class="help-block">This field is required.</span>
        </div>

    </div>

    <br>
    <div class="row">
        <div class="col-sm-3">
            <button type="submit" class="btn btn-danger btn-block" [disabled]="orderForm.invalid">Submit Order</button>
        </div>
    </div>
    <br>

</form>