<br>

<div *ngIf="!hiddenAlert" class="alert alert-info alert-dismissable" role="alert">
    <button type="button" class="close" (click)='hideAlert()'>  
        <span aria-hidden="true">&times;</span>
    </button>
    <img style="float: left;margin-right: 10px;" width='40px' height='40px' src="../../../../assets/images/info-image.png">
    Profile updated!<br>
    All the changes made to your profile have been saved.
</div>

<form [formGroup]="profileForm" (ngSubmit)="submitProfileForm()">

    <div class="form-group" [ngClass]="{'has-error': profileForm.get('userEmail').invalid 
                                                  && profileForm.get('userEmail').touched}">
        <div class="row">
            <div class="col-sm-3">
                <label for="userEmail">Email:</label>
            </div>
            <div class="col-sm-9">

                <input id="userEmail" type="text" class="form-control" formControlName="userEmail">

                <span *ngIf="profileForm.get('userEmail').invalid &&  
                             profileForm.get('userEmail').touched && 
                             profileForm.get('userEmail').errors['required']" class="help-block">This field is required.</span>

                <span *ngIf="profileForm.get('userEmail').invalid &&  
                             profileForm.get('userEmail').touched && 
                             profileForm.get('userEmail').errors['email']" class="help-block">Please enter a valid email address.</span>

            </div>
        </div>
    </div> 


    <div class="form-group" [ngClass]="{'has-error': profileForm.get('userPassword').invalid 
                                                  && profileForm.get('userPassword').touched}">
        <div class="row">
            <div class="col-sm-3">
                <label for="userPassword">Password:</label>
            </div>
            <div class="col-sm-9">
                <input id="userPassword" type="text" class="form-control" formControlName="userPassword">
                <span *ngIf="profileForm.get('userPassword').invalid &&  
                             profileForm.get('userPassword').touched && 
                             profileForm.get('userPassword').errors['required']" class="help-block">This field is required.</span>


                <span *ngIf="profileForm.get('userPassword').invalid &&  
                             profileForm.get('userPassword').touched &&
                             profileForm.get('userPassword').errors['blank'] &&
                            !profileForm.get('userPassword').errors['required']" class="help-block">Password can't be blank.</span>

            </div>
        </div>
    </div>


    <div class="form-group" [ngClass]="{'has-error': profileForm.get('userName').invalid 
                                                  && profileForm.get('userName').touched}">
        <div class="row">
            <div class="col-sm-3">
                <label for="userName">Name</label>
            </div>

            <div class="col-sm-5">

                <input id="userName" type="text" class="form-control" formControlName="userName">

                <span *ngIf="profileForm.get('userName').invalid &&  
                             profileForm.get('userName').touched && 
                             profileForm.get('userName').errors['required']" class="help-block">This field is required.</span>

                <span *ngIf="profileForm.get('userName').invalid &&  
                             profileForm.get('userName').touched && 
                             profileForm.get('userName').errors['blank'] &&
                            !profileForm.get('userName').errors['required']" class="help-block">Name Can't be blank.</span>

            </div>
        </div>
    </div>

        
    <div class="form-group">
        <div class="row">
            <div class="col-sm-3">
                <label for="userPhone">Phone</label>
            </div>
            <div class="col-sm-9">
                <div class="col-sm-5 input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-earphone"></span>
                    </span>
                    <input id="userPhone" type="text" class="form-control" formControlName="userPhone">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-2">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="profileForm.invalid">Save</button>
        </div>
    </div>

</form>
<br>