<br>
<form [formGroup]="categoryForm" (ngSubmit)="submitCategoryForm()">

    <div class="form-group" [ngClass]="{'has-error': categoryForm.get('categoryName').invalid 
                                       && categoryForm.get('categoryName').touched}">
        <div class="row">
            <div class="col-sm-3">
                <label for="categoryName">Category title</label>
            </div>
            <div class="col-sm-9">
                <input id="categoryName" 
                       type="text" 
                       class="form-control"  
                       formControlName="categoryName">

                <span *ngIf="categoryForm.get('categoryName').invalid &&  
                             categoryForm.get('categoryName').touched && 
                             categoryForm.get('categoryName').errors['required']"
                      class="help-block"> Please fill out this field.</span>
            </div>

        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-sm-3">
                <label for="categoryDescription">Description:</label>
            </div>
            <div class="col-sm-9">
                <textarea id="categoryDescription" 
                          type="text" 
                          class="form-control" 
                          formControlName="categoryDescription"
                          rows="6">
                </textarea>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-sm-3">
                <label for="categoryImage">Image</label>
            </div>
            <div class="col-sm-9">
                <input id="categoryImage" 
                       type="file" 
                       class="form-control"
                       formControlName="categoryImage"
                       (change)="readUrl($event)" />
                <br>
                <div *ngIf="base64CategoryImage && base64CategoryImage.length > 0">
                    <img [src]="base64CategoryImage" width="165px" height="84px" class="col-sm-4" style="padding-left: 0%;"> 
                    <span (click)="deleteCategoryImage()">
                        <i class="fa fa-window-close fa-2x"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-8"></div>
        <div class="col-sm-2">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="categoryForm.invalid">Save</button>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-info btn-block btn-block" (click)="cancel()">Cancel</button>
        </div>
    </div>

</form>
<br>
