<br>
<div class="row">
    
    <div class="col-sm-2">
        <button class="btn" (click)="addNewProduct()">+ Add Product</button>
    </div>

    <div class="col-sm-4">

        <input id="searchField" 
               type="text" 
               placeholder="Search" 
               class="form-control"
               [(ngModel)] = "searchTerm"
               (keypress)="onSearchChange($event)">        
    </div>

    <div class="col-sm-3 text-right" >
            Filter by
    </div>

    <div class="col-sm-3">
        <select (change)="onCategoryChange($event)" class="form-control">
            <option [attr.selected] = "true"  [attr.value]="categoryId">-- All categories --</option>
            <option *ngFor="let c of categories" [value]="c.id"  [selected]="categoryId == c.id">
                {{c.name}}
            </option>    
        </select>
    </div>

</div>
<br> 
<br>


<div *ngIf="products.length == 0">
    <div class="jumbotron">
        <p>No Records Found</p>
    </div>
</div>

<table class="table" *ngIf="products.length > 0">
    <thead>
        <tr>
            <th></th>
            <th>Image</th>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody *ngFor="let p of products">
        <tr>
            <td>{{p.id}}</td>
            <td><img width="84px" height="60px" [src]="p.image"></td>
            <td>{{p.name}}</td>
            <td>
                <div *ngIf="p.category">
                    {{p.category.name}}
                </div>
            </td>
            <td>{{p.price}}</td>
            <td>{{(p.active == true)? 'Active': 'Inactive'}}</td>
            <td>
                <span (click)="editProduct(p.id)">
                    <i class="fa fa-edit fa-2x col-sm-5"></i>
                </span>

                <span (click)="deleteProduct(p.id)">
                    <i class="fa fa-trash fa-2x col-sm-3" aria-hidden="true"></i>
                </span>
            </td>
        </tr>
    </tbody>
</table>

<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-7" *ngIf="products.length > 0">
        <nav aria-label="Page navigation example">
            <ul class="pagination" style="cursor: pointer">
                
                <li class="page-item" *ngIf="pageNumber > 1">
                    <a class="page-link" (click)="onPageChange(-1)">Previous</a>
                </li>

                <li class="page-item disabled-item" *ngIf="pageNumber <= 1">
                    <a class="page-link">Previous</a>
                </li>

                <li class="page-item">
                    <a class="page-link">{{pageNumber}}</a>
                </li>

                <li class="page-item" *ngIf="pageNumber < totalPages">
                    <a class="page-link" (click)="onPageChange(1)">Next</a>
                </li>

                <li class="page-item disabled-item" *ngIf="pageNumber >= totalPages">
                    <a class="page-link">Next</a>
                </li>
                
            </ul>
        </nav>
    </div> 
</div>
<br>