<br>
<div class="row">

    <div class="col-sm-4 wrapper-div">
        <div class="img-div"><img src="../../../../assets/images/dashboard_orders.png"></div>
        <div class="num-div">{{dashBoardInfo?.ordersReceivedTodayCount}}</div>
        <div class="desc-div"> orders received <br>today</div>
    </div>

   <div class="col-sm-4 wrapper-div">
        <div class="img-div"><img src="../../../../assets/images/dashboard_orders.png"></div>
        <div class="num-div">{{dashBoardInfo?.ordersToDeliverTodayCount}}</div>
        <div class="desc-div"> orders to deliver<br>today</div>
    </div>

    <div class="col-sm-4 wrapper-div" style="border-right: 1px solid #E5E5E5;padding-right: 30px;">
        <div class="img-div"><img src="../../../../assets/images/dashboard_orders.png"></div>
        <div class="num-div">{{dashBoardInfo?.totalOrdersCount}}</div>
        <div class="desc-div" style="padding-top:16px">total orders</div>
    </div>

</div>
<br>

<div class="row">
    <div class="col-sm-4 outer-outer-div">
        <div class="outer-div">
            <div class="inner-div">
                Latest orders
            </div>
            <div class="inner-div" *ngFor="let order of ordersReceivedToday">
                <span (click)="redirectToOrder(order.id)" class="clickable-text">{{order.client.name}}</span><br>
                {{order.client.phone}}<br>
                Delivery date: {{order.deliveryDate | date: 'dd-MM-yyyy, HH:mm'}}
            </div>
        </div>
    </div>

    <div class="col-sm-4 outer-outer-div">
        <div class="outer-div">
            <div class="inner-div">
                Orders to be delivered
            </div>
            <div class="inner-div" *ngFor="let order of ordersToBeDeliveredNext">
                <span (click)="redirectToOrder(order.id)" class="clickable-text">{{order.client.name}}</span><br>
                {{order.client.phone}}<br>
                Delivery date: {{order.deliveryDate | date: 'dd-MM-yyyy, HH:mm'}}
            </div>
        </div>
    </div>
    
    <div class="col-sm-4 outer-outer-div" style="padding-right: 0px;">

        <div class="outer-div">

            <div class="inner-div">
                Quick links
            </div>

            <div class="inner-div" style="border-bottom: none;">
                <a (click)="addOrder()">+ Add Order </a>
                <br>  
                <br>
                <a (click)="addProduct()">+ Add Product</a>
                <br>
            </div>

            <div class="inner-div">
                <a (click)="viewOrders()">View Orders</a>
                <br>
                <br>
                <a (click)="viewProducts()">View Products</a>
                <br>
            </div>

        </div>
    </div>

</div>
<br>

<div class="row">
    <div class="col-sm-8"></div>
    <div class="col-sm-2 clock" >
        {{now | date: 'HH:mm'}}
    </div>
    <div class="col-sm-2 dashboard-hour">
        <div class="day-name">{{dayName | uppercase }}</div>
        <div class="date">{{now | date: 'dd-MM-yyyy'}}</div>
    </div>
</div>
<br>