<br>
<div class="row">

    <div class="col-sm-4 wrapper-div">
        <div class="img-div"><img src="../../../../assets/images/dashboard_orders.png"></div>
        <div class="num-div">200</div>
        <div class="desc-div"> orders received <br>today</div>
    </div>

   <div class="col-sm-4 wrapper-div">
        <div class="img-div"><img src="../../../../assets/images/dashboard_orders.png"></div>
        <div class="num-div">200</div>
        <div class="desc-div"> orders to deliver<br>today</div>
    </div>

    <div class="col-sm-4 wrapper-div" style="border-right: 1px solid #E5E5E5;padding-right: 30px;">
        <div class="img-div"><img src="../../../../assets/images/dashboard_orders.png"></div>
        <div class="num-div">200</div>
        <div class="desc-div" style="padding-top:16px">total orders</div>
    </div>

</div>
<br>

<div class="row">
    <div class="col-sm-4 outer-outer-div">
        <div class="outer-div">
            <div class="inner-div">
                Latest orders
            </div>
            <div class="inner-div">
                Samantha Hamested<br>
                +34657950687056<br>
                Delivery date: 29-02-2020, 19:00
            </div>
            <div class="inner-div">
                Samantha Hamested<br>
                +34657950687056<br>
                Delivery date: 29-02-2020, 19:00
            </div>
            <div class="inner-div">
                Samantha Hamested<br>
                +34657950687056<br>
                Delivery date: 29-02-2020, 19:00
            </div>
        </div>
    </div>

    <div class="col-sm-4 outer-outer-div">
        <div class="outer-div">
            <div class="inner-div">
                Orders to be delivered
            </div>
            <div class="inner-div">
                Samantha Hamested<br>
                +34657950687056<br>
                Delivery date: 29-02-2020, 19:00
            </div>
            <div class="inner-div">
                Samantha Hamested<br>
                +34657950687056<br>
                Delivery date: 29-02-2020, 19:00
            </div>
            <div class="inner-div">
                Samantha Hamested<br>
                +34657950687056<br>
                Delivery date: 29-02-2020, 19:00
            </div>
        </div>
    </div>
    
    <div class="col-sm-4 outer-outer-div" style="padding-right: 0px;">

        <div class="outer-div">

            <div class="inner-div">
                Quick links
            </div>

            <div class="inner-div" style="border-bottom: none;">
                + Add Order 
                <br>  
                <br>
                + Add Product
                <br>
            </div>

            <div class="inner-div">
                View Orders
                <br>
                <br>
                View Products
                <br>
            </div>

        </div>
    </div>

</div>

<br>