<br>
<div class="row">

    <div class="col-sm-2">
        <button class="btn" (click)="addNewUser()">+ Add User</button>
    </div>

    <div class="col-sm-4">
        <input id="searchField" 
               type="text" 
               placeholder="Search" 
               class="form-control"
               [(ngModel)] = "searchTerm"
               (keypress)="onSearchChange($event)"> 
    </div>

    <div class="col-sm-2">
    </div>

    <div class="col-sm-4">
        <button class="btn status-btn" 
                [ngClass]="{'active': userStatus === 'All'}"
                (click)="onStatusChange('All')">All</button>

        <button class="btn status-btn" 
                [ngClass]="{'active': userStatus === 'Active'}"
                (click)="onStatusChange('Active')">Active</button>

        <button class="btn status-btn" 
                [ngClass]="{'active': userStatus === 'Inactive'}"
                (click)="onStatusChange('Inactive')">Inactive</button>

    </div>

</div>
<br> 
<br>

<div *ngIf="users.length == 0">
    <div class="jumbotron">
        <p>No Records Found</p>
    </div>
</div>

<table class="table" *ngIf="users.length > 0">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Email</th>
            <th>Registration date/time</th>
            <th>Role</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody *ngFor="let u of users">
        <tr>
            <td>{{u.id}}</td>
            <td>{{u.name}}</td>
            <td>{{u.email}}</td>
            <td>{{u.registerDate}}</td>
            <td >
                <span [ngClass]="{'admin-class': u.authority.name === 'admin',
                                  'editor-class': u.authority.name === 'editor'}">
                    {{u.authority.name}}
                </span>
            </td>
            <td>{{(u.active)? 'active': 'Inactive'}}</td>
            <td>
                <span (click)="editUser(u.id)" style="cursor: pointer;">
                    <i class="fa fa-edit fa-2x col-sm-5"></i>
                </span>
                
                <span (click)="deleteUser(u.id)" style="cursor: pointer;">
                    <i class="fa fa-trash fa-2x col-sm-3" aria-hidden="true"></i>
                </span>
                
            </td>
        </tr>
    </tbody>
</table>

<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-7" *ngIf="users.length > 0">
        <nav aria-label="Page navigation example">
            <ul class="pagination" style="cursor: pointer">
                
                <li class="page-item" *ngIf="pageNumber > 1">
                    <a class="page-link" (click)="onPageChange(-1)">Previous</a>
                </li>

                <li class="page-item disabled-item" *ngIf="pageNumber <= 1">
                    <a class="page-link">Previous</a>
                </li>

                <li class="page-item">
                    <a class="page-link">{{pageNumber}}</a>
                </li>

                <li class="page-item" *ngIf="pageNumber < totalPages">
                    <a class="page-link" (click)="onPageChange(1)">Next</a>
                </li>

                <li class="page-item disabled-item" *ngIf="pageNumber >= totalPages">
                    <a class="page-link">Next</a>
                </li>
                
            </ul>
        </nav>
    </div> 
</div>
