<br>
<form *ngIf="productForm" [formGroup]="productForm" (ngSubmit)="submitProductForm()">

    <div class="form-group" [ngClass]="{'has-error': productForm.get('productName').invalid 
                                       && productForm.get('productName').touched}">
        <div class="row">
            <div class="col-sm-3">
                <label for="productName">Product title</label>
            </div>
            <div class="col-sm-9">
                <input id="productName" 
                       type="text" 
                       class="form-control" 
                       formControlName="productName">
                <span *ngIf="productForm.get('productName').invalid &&  
                             productForm.get('productName').touched && 
                             productForm.get('productName').errors['required']"
                             class="help-block"> Please fill out this field.</span>

            </div>

        </div>     
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-sm-3">
                <label for="productDescription">Description:</label>
            </div>
            <div class="col-sm-9">
                <textarea id="productDescription" 
                          type="text" 
                          class="form-control" 
                          formControlName="productDescription"
                          rows="6">
                </textarea>
            </div>
        </div>
    </div> 
   
    <div class="form-group" [ngClass]="{'has-error': productForm.get('productCategory').invalid 
                                      && productForm.get('productCategory').touched}">
        <div class="row">
            <div class="col-sm-3">
                <label for="productCategory">Category</label>
            </div>
            <div class="col-sm-4">
                <select id="productCategory"  
                        class="form-control"
                        formControlName="productCategory">
                        <option *ngFor="let c of categories" [value]="c.name" [selected]="productForm.value.productCategory == c.name">
                            {{c.name}}
                        </option>
                </select>

                <span *ngIf="productForm.get('productCategory').invalid &&  
                             productForm.get('productCategory').touched && 
                             productForm.get('productCategory').errors['required']"
                             class="help-block"> Please fill out this field.</span>

            </div>
        </div>
    </div>

    <div class="form-group" [ngClass]="{'has-error': productForm.get('productPrice').invalid 
                                       && productForm.get('productPrice').touched}">
        <div class="row">
            <div class="col-sm-3">
                <label for="productPrice">Price</label>
            </div>
            <div class="col-sm-3">
                <input id="productPrice" 
                       type="number" 
                       min="0"
                       class="form-control" 
                       formControlName="productPrice">
                <span *ngIf="productForm.get('productPrice').invalid &&  
                             productForm.get('productPrice').touched && 
                             productForm.get('productPrice').errors['required']"
                             class="help-block">Please fill out this field.</span>

                <span *ngIf="productForm.get('productPrice').invalid &&  
                             productForm.get('productPrice').touched && 
                             ! productForm.get('productPrice').errors['required'] &&
                             productForm.get('productPrice').errors['notGreaterThanZero']"
                             class="help-block">This field should be greater than 0</span>
            </div>
        </div>     
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-sm-3">
                <label for="productImageName">Image</label>
            </div>
            <div class="col-sm-9">
                <input id="productImageName" 
                       type="file" 
                       class="form-control"
                       formControlName="productImageName"
                       (change)="readUrl($event)" />

                <br>
                <div *ngIf="editMode && imageName != 'no_image.png'">
                    <img src="{{imageBaseUrl}}/{{imageName}}" width="165px" height="84px" class="col-sm-4" style="padding-left: 0%;"> 
                    <span class="delete-icon" (click)="deleteProductImage()">
                        <i class="fa fa-window-close fa-2x"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group"  [ngClass]="{'has-error': productForm.get('productStatus').invalid 
                                        && productForm.get('productStatus').touched}">

        <div class="row">
            <div class="col-sm-3">
                <label for="productStatus">Status</label>
            </div>
            <div class="col-sm-3">

                <select id="productStatus"
                        class="form-control"
                        formControlName="productStatus">

                       <option value="false">Inactive</option>
                       <option value="true">Active</option>
               </select>

               <span *ngIf="productForm.get('productStatus').invalid &&  
                            productForm.get('productStatus').touched && 
                            productForm.get('productStatus').errors['required']"
                            class="help-block"> Please fill out this field.</span>
            </div>
        </div>     
    </div>

    
    <div class="row">
        <div class="col-sm-8"></div>
        <div class="col-sm-2">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="productForm.invalid">Save</button>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-info btn-block btn-block" (click)="cancel()">Cancel</button>
        </div>
    </div>

</form>
<br>

