
<br>
<form [formGroup]="orderForm" (ngSubmit)="submitOrderForm()">
    <fieldset  class="field-set-border">
        <legend class="legend-border">Order Details</legend>        
            <div class="row">
                <div class="form-group" [ngClass] = "{'has-error': orderForm.get('orderDate').invalid 
                                                                && orderForm.get('orderDate').touched}">
                    <div class="col-sm-3">Delivery date & time</div>
                    <div class="col-sm-4">
                        <input id="orderDate"
                               type="datetime-local" 
                               class="form-control" 
                               [attr.min]="(!editMode)? minDate: undefined"                      
                               formControlName="orderDate"/> 
                        
                        <span *ngIf="orderForm.get('orderDate').invalid &&  
                                     orderForm.get('orderDate').touched && 
                                     orderForm.get('orderDate').errors['required']"
                                     class="help-block">This field is required.</span>

                        <span *ngIf="orderForm.get('orderDate').invalid &&  
                                     orderForm.get('orderDate').touched && 
                                     orderForm.get('orderDate').errors['inValidDate'] &&
                                     !orderForm.get('orderDate').errors['required']"
                                     class="help-block">The date and time should be greater than the current.</span>

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2">Sub-total</div>
                    <div class="col-sm-2 input-group">
                        <span class="input-group-addon">€</span>
                        <input id="orderSubtotal"
                               type="text" 
                               class="form-control input-disabled" 
                               formControlName="orderSubtotal"
                               readonly>
                    </div> 
                </div>
            </div>
            
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-3">Status</div>
                    <div class="col-sm-4"> 
                        <select id="orderStatus"
                                class="form-control"
                                formControlName="orderStatus">
                            <option disabled [attr.selected] = "true">-- Choose --</option>
                            <option *ngFor="let status of statusList" [attr.value]="status">
                                {{status}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2">Tax</div>
                    <div class="col-sm-2 input-group">
                        <span class="input-group-addon">€</span>
                        <input id="orderTax"
                               formControlName="orderTax"
                               type="text" 
                               class="form-control input-disabled" 
                               readonly>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="form-group">
                    <div class="col-sm-3">Payment method</div>
                    <div class="col-sm-4">
                        <select id="orderPaymentMethod"
                                class="form-control"
                                formControlName="orderPaymentMethod">
                            <option disabled [attr.selected] = "true">-- Choose --</option>
                            <option *ngFor="let paymentMethod of paymentMethods" [attr.value]="paymentMethod">
                                {{paymentMethod}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2">Total</div>
                    <div class="col-sm-2 input-group">
                        <span class="input-group-addon">€</span>
                        <input id="orderTotalPrice"
                               type="text" 
                               formControlName="orderTotalPrice"
                               class="form-control input-disabled" 
                               readonly>
                    </div>
                </div>
            </div>
    </fieldset>

    <fieldset  class="field-set-border">
        <legend class="legend-border">Products</legend>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Size & Price</th>
                    <th>Qty</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ol of orderLinesList; let i = index">
                    
                    <td class="col-md-4">
                        <select class="form-control" (change)="onChange($event, i)">
                            <option disabled>-- Select product --</option>
                            <option *ngFor="let p of productsList" [value]="p.id" [selected]="ol.product.id == p.id">
                                    {{p.name}}, {{p.category.name}}
                            </option>
                        </select>
                    </td>

                    <td class="col-md-2">
                        <div *ngIf="ol.price">
                            € {{ol.price | number : '1.2-2'}}
                        </div>
                    </td>

                    <td class="col-md-2">
                        <input type="number"
                            step="1" 
                            min="1" 
                            class="form-control" 
                            onkeydown="return false" 
                            value="{{ol.quantity}}" 
                            (change)="onQuantityChange($event, i)" />
                    </td>
                    <td>
                        € {{ol.totalPrice | number : '1.2-2'}}
                    </td>
                    <td>
                        <button type="button" class='btn btn-sm' (click)="deleteOrderLine(i)">X</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="row">
            <div class="col-sm-3">
                <button type="button" class="btn" (click)="addNewOrderLine()">+ Add Product</button>
            </div>
        </div>

    </fieldset>

    <fieldset  class="field-set-border">
        <legend class="legend-border">Client Details</legend>
    
        
        <div class="form-group" [ngClass] = "{'has-error': orderForm.get('clientName').invalid 
                                                        && orderForm.get('clientName').touched}">
            <div class="row">
                <div class="col-sm-3">Name</div>
                <div class="col-sm-7">
                    <input id="clientName" 
                            type="text" 
                            class="form-control"  
                            formControlName="clientName">
                    
                    <span *ngIf="orderForm.get('clientName').invalid &&  
                                 orderForm.get('clientName').touched && 
                                 orderForm.get('clientName').errors['blank']"
                                 class="help-block">This field is required.</span>
                </div>
            </div>
        </div>

        <div class="form-group" [ngClass] = "{'has-error': orderForm.get('clientEmail').invalid 
                                                        && orderForm.get('clientEmail').touched}">
            <div class="row">
                <div class="col-sm-3">Email</div>
                <div class="col-sm-7">
                    <input id="clientEmail" 
                            type="text" 
                            class="form-control"  
                            formControlName="clientEmail">

                    <span *ngIf="orderForm.get('clientEmail').invalid &&  
                                 orderForm.get('clientEmail').touched && 
                                 orderForm.get('clientEmail').errors['email']"
                                 class="help-block">Please enter a valid email address.</span>
                    
                    <span *ngIf="orderForm.get('clientEmail').invalid &&  
                                 orderForm.get('clientEmail').touched && 
                                 orderForm.get('clientEmail').errors['required']"
                                 class="help-block">This field is required.</span>
                </div>
            </div>
        </div>

        <div class="form-group" [ngClass] = "{'has-error': orderForm.get('clientPhone').invalid 
                                                        && orderForm.get('clientPhone').touched}">
            <div class="row">
                <div class="col-sm-3">Phone</div>
                <div class="col-sm-7">
                    <input id="clientPhone" 
                            type="text" 
                            class="form-control"  
                            formControlName="clientPhone">

                    <span *ngIf="orderForm.get('clientPhone').invalid &&  
                                 orderForm.get('clientPhone').touched && 
                                 orderForm.get('clientPhone').errors['blank']"
                                 class="help-block">This field is required.</span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-sm-3">Company</div>
                <div class="col-sm-7">
                    <input id="clientCompany" 
                            type="text" 
                            class="form-control"  
                            formControlName="clientCompany">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-sm-3">Address</div>
                <div class="col-sm-7">
                    <input id="clientAddress" 
                            type="text" 
                            class="form-control"  
                            formControlName="clientAddress">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-sm-3">City</div>
                <div class="col-sm-7">
                    <input id="clientCity" 
                            type="text" 
                            class="form-control"  
                            formControlName="clientCity">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-sm-3">State</div>
                <div class="col-sm-7">
                    <input id="clientState" 
                            type="text" 
                            class="form-control"  
                            formControlName="clientState">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-sm-3">Zip</div>
                <div class="col-sm-7">
                    <input id="clientZip" 
                            type="text" 
                            class="form-control"  
                            formControlName="clientZip">
                </div>
            </div>
        </div>
    
        <div class="form-group">
            <div class="row">
                <div class="col-sm-3">Special instructions</div>
                <div class="col-sm-7">
                    <textarea id="clientSpecialInstructions" 
                              type="text" 
                              class="form-control"  
                              formControlName="clientSpecialInstructions"
                              rows="6">
                    
                    </textarea>
                </div>
            </div>
        </div>

    </fieldset>

    <div class="row">
        <div class="col-sm-8"></div>
        <div class="col-sm-2">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="orderForm.invalid">Save</button>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-info btn-block btn-block" (click)="cancel()">Cancel</button>
        </div>
    </div>
    <br>

</form>



