<br>
<button class="btn" (click)="addNewCategory()">+ Add Category</button>
<br><br>

<div *ngIf="categories.length == 0">
    <div class="jumbotron">
        <p>Use Add Category button to add categories</p>
    </div>
</div>

<div *ngIf="categories.length > 0">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Category title</th>
                <th>Products</th>
                <th></th>
            </tr>
        </thead>
        <tbody *ngFor="let c of categories">
            <tr>

                <td>{{c.id}}</td>
                <td>{{c.name}}</td>
                <td>products count</td>
                <td>
                    <span (click)="editCategory(c.id)">
                        <i class="fa fa-edit fa-2x col-sm-3"></i>
                    </span>
                    
                    <span (click)="deleteCategory(c.id)">
                        <i class="fa fa-trash fa-2x col-sm-3" aria-hidden="true"></i>
                    </span>

                </td>
            </tr>
        </tbody>
    </table>
</div>
<br>